{% layout 'layout.liquid' %}
{% block content %}
    <div>
        <h1>Welcome to RIDES</h1>
        <p>A top-tier car-related website</p>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d771a2ca-a9f1-4a6d-a7db-13858f73a01d/dett7vm-22243c2b-c65d-4bf5-ade8-a3026bad26d4.jpg/v1/fill/w_1600,h_900,q_75,strp/ferrari_f40_in_white_by_lladerat_dett7vm-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTAwIiwicGF0aCI6IlwvZlwvZDc3MWEyY2EtYTlmMS00YTZkLWE3ZGItMTM4NThmNzNhMDFkXC9kZXR0N3ZtLTIyMjQzYzJiLWM2NWQtNGJmNS1hZGU4LWEzMDI2YmFkMjZkNC5qcGciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.T7cNWntbipdlVSpKkyHWivpnTHtwPv9iP-P82NKCYxg" alt="image of ferrai" height="600px">
    </div>
{% endblock %}